---
title: MathJax Verification
date: 2026-07-15 00:00:00
mathjax: true
comments: false
indexing: false
---

Inline formula: $E=mc^2$.

$$
V=IR
$$
